<header class="container">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/start">Iniciar Jogo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ranking">Ranking</a>
    </li>
  </ul>
</header>