h4 {
    margin-bottom: 15px;
    color: #555;
}
.player {
    width: 50%;
    display: inline-block;
    padding: 80px;
    text-align: center;
}
.progress {
    border: 1px solid #000;
    height: 30px;
    width: auto;
    position: relative;
    background-color: transparent;
}
.progress-bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #44bd32;
}
.player-control,
.player-logs {
    text-align: center;
    margin-bottom: 40px;
}
section div:last-of-type {
    margin-bottom: 0;
}
.commands {
    width: 100%;
    text-align: center;
}
.commands button {
    width: 150px;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
    border: 1px solid #000;
    color: #fff;
}
.commands button:disabled {
    opacity: 0.7;
}
.logs {
    padding: 2%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
}
.message {
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border: 1px solid #000;
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
    .player {
        width: 100%;
    }
}