<section class="section-play">
  <div class="player-status">
    <div class="player">
      <h4>Jogador</h4>
      <div class="progress">
        <div class="progress-bar" [style.background-color]="jogadorHP < 21 ? '#EA2027' : '#44bd32'" [style.width.%]="jogadorHP > -1 ? jogadorHP : 0"><span>{{ jogadorHP > -1 ? jogadorHP : 0 }}%</span></div>
      </div>
    </div>
    <div class="player">
      <h4>Monstro</h4>
      <div class="progress">
        <div class="progress-bar" [style.background-color]="monstroHP < 21 ? '#EA2027' : '#44bd32'" [style.width.%]="monstroHP > -1 ? monstroHP : 0"><span>{{ monstroHP > -1 ? monstroHP : 0 }}%</span></div>
      </div>
    </div>
  </div>
  <div class="player-control">
    <h4>Comandos</h4>
    <div class="commands">
      <button type="button" [style.background-color]="'#192a56'" (click)="onClickAtacar()">Ataque</button>
      <button type="button" [style.background-color]="'#c23616'" (click)="onClickAtaqueEspecial()" [disabled]="countTurnosJogador !== 0">Ataque Especial</button>
      <button type="button" [style.background-color]="'#44bd32'" (click)="onClickCurar()" [disabled]="habilitarCura">Curar</button>
      <button type="button" [style.background-color]="'#B53471'" (click)="onClickDesistir()">Desistir</button>
    </div>
  </div>
  <div class="player-logs">
    <h4>Log</h4>
    <div class="logs">
      <div class="message" *ngFor="let log of logs" [style.background-color]="log.cor"><span [style.float]="log.isJogador ? 'left' : 'right'">{{ log.menssagem }}</span></div>
    </div>
  </div>
</section>

<div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="playerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playerModalLabel">New player</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="player-name" class="col-form-label">Nome do Jogador:</label>
            <input [(ngModel)]="playerName" name="player-name" type="text" class="form-control" id="player-name" (change)="onChangeActiveButtonPlay()">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [attr.disabled]="playerName" (click)="onClickNavigateToGame()" #playGame>Salvar</button>
      </div>
    </div>
  </div>
</div>
  
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Jogador ({{ jogadorFinalScore }}) x Monstro ({{ monstroFinalScore }})</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onClickCallNextModal()" data-dismiss="modal">Next</button>
      </div>
    </div>
  </div>
</div>