<section class="section-ranking">
    <app-header></app-header>
    <div class="container">
      <table class="table table-stiped">
        <thead>  
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Data</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of allPlayers; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ player.playerName }}</td>
            <td>{{ player.data }}</td>
            <td>{{ player.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</section>