<app-header></app-header>
<section class="section-start">
  <div class="container hero-box">
    <button type="button" class="btn btn-primary" (click)="onClickNavigateToGame()">Jogar</button>
  </div>
</section>
