<app-header></app-header>
<section class="section-home">
  <div class="container hero-box">
    <a href="/start" class="btn btn-primary">Iniciar Jogo</a>
    <a href="/ranking" class="btn btn-outline-primary">Ranking</a>
  </div>
</section>