/* You can add global styles to this file, and also import other style files */

.hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.btn {
    display: inline-block;
    margin-right: 15px;
    width: 150px;
    height: auto;
}